.establishment {
  padding: 10px;
  background-color: #ffffff;
  margin-bottom: 5px;
  border-radius: 5px;
}

.establishment:hover {
  cursor: pointer;
  background-color: #f3f3f3e1;
}

.item {    
  display: flex;
}