<div class="row establishment" *ngFor="let establishment of establishmentList" [routerLink]="['../detail', establishment.id]">
  <app-establishment class="item" [establishment]="establishment"></app-establishment>
</div>