
img {
  width: 74px;
  height: 74px;
}

.address {
  font-size: 15px;
  line-height: 17px;
  color: #81879C;
}

.establishment-title {
  margin-left: 0px;
}

h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 24px;
  color: #4C5164;
}

.establishment-title span {
  font-size: 15px;
  line-height: 17px;
  margin-left: 1rem;
  color: #81879C;
  align-items: center;
  display: flex;
}

.establishment-detail {
  margin-top: 15px;
}