<img  [src]="establishment?.picture" class="rounded float-left">

<div class="establishment-detail col">
  <div class="row establishment-title">
    <h3 class="">{{establishment?.name}} </h3> <span>{{establishment?.id}}</span>
  </div>
  <span class="address">{{establishment?.city}}<span *ngIf="establishment?.city"> | </span> {{establishment?.address}}</span>
</div>