.establishment {
  padding: 10px;
  background-color: #ffffff;
  margin-bottom: 5px;
  border-radius: 5px;
}

.establishment img {
  width: 74px;
  height: 74px;
}

.establishment-title {
  margin-left: 0px;
}

.establishment-title h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 24px;
  color: #4C5164;
}

.establishment-title span {
  font-size: 15px;
  line-height: 17px;
  margin-left: 1rem;
  color: #81879C;
  align-items: center;
  display: flex;
}

.establishment-detail {
  margin-top: 15px;
}

.establishment-header {
  margin-left: 0px;
}

.establishment-body {
  margin: 0px;
}

.establishment-body input {
  background-color: #F8F9FD;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #7B7E8C;
}

.establishment-body select {
  background-color: #F8F9FD;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #7B7E8C;
}

.establishment-body label {
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  color: #4C5164;
}

.div-btn-return {
  align-items: center;
  display: flex;
  width: 3rem;
}

.sub-title {
  font-size: 16px;
  color: #4C5164;
  margin-top: 1rem;
}

.digit{
  margin-left: 1rem;
}

.div-button {
  width: 100%;
}

.button-save {
  width: 111px;
  height: 41px;
  color: #ffffff;
  background: #28CC9B;
  border-radius: 100px;
}

.button-save:hover {
  color: #ffffff;
}

.establishment-id {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #81879C;
}

::placeholder {
 opacity: 0.4;
}

form {
  width: 100%;
}

.state {
  width: 5rem;
}

.unstyled::-webkit-inner-spin-button,
.unstyled::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.icon-return {
  font-size: 25px;
  cursor: pointer;
  margin-left: 5px;
}