<div class="establishment" >
  <div class="row establishment-header" id="establishment-header">
    <div class="div-btn-return text-center">
      <fa-icon [icon]="faLongArrowAltLeft" class="icon-return" [routerLink]="['/']" tabindex="-1"></fa-icon>
    </div>
    <img  [src]="establishment?.picture" class="rounded float-left">
    <div class="establishment-detail col">
      <div class="row establishment-title">
        <h3 class="">{{establishment?.name}}</h3>
      </div>
      <span class="establishment-id">ID: {{establishment?.id}}</span>
    </div> 
  </div>
  <br />
  <div class="row establishment-body" id="establishment-body">
    <form [formGroup]="establishimentForm" novalidate autocomplete="off">
      <h3 class="sub-title">Informações Básicas</h3>
      <hr />
        <div class="row">
          <div class="col">
            <label for="name">Nome</label>
            <select id="name" name="name" class="form-control" formControlName="name">
                <option *ngFor="let establishmentTmp of establishmentList" [value]="establishmentTmp?.name">{{establishmentTmp?.name}}</option>
            </select>
          </div>
          <div class="col">
            <label for="state">Estado / Cidade</label>
            <div class="input-group-prepend">
              <select id="state" name="state" class="form-control state" #state formControlName="state">
                  <option></option>
                  <option *ngFor="let state of stateList" [value]="state?.sigla">{{state?.sigla}}</option>
              </select>
              <select id="city" name="city" class="form-control" formControlName="city">
                  <option></option>
                  <option *ngFor="let city of cityList" [value]="city?.nome">{{city?.nome}}</option>
              </select>
            </div>
          </div>
          <div class="col">
              <label for="address">Endereço</label>
              <input type="text" class="form-control" id="address" name="address" formControlName="address" placeholder="Digite o endereço...">
          </div>
      </div>
      <h3 class="sub-title">Financeiro</h3>
      <hr />
        <div class="row">
          <div class="col">
              <label for="bank">Banco</label>
              <select id="bank" name="bank" class="form-control" formControlName="bank">
                  <option></option>
                  <option *ngFor="let bank of bankList" [value]="bank?.code">{{bank?.name}}</option>
              </select>
          </div>
          <div class="col">
              <label for="acount-type">Tipo de conta</label>
              <select id="acount-type" name="acount-type" class="form-control" formControlName="acount_type">
                  <option selected></option>
                  <option value="cc">Conta Corrente</option>
                  <option value="cp">Conta Poupança</option>
              </select>
          </div>
          <div class="col">
              <label for="document">CPF / CNPJ</label>
              <input type="text" class="form-control" formControlName="document" id="document" name="document" mask="CPF_CNPJ" placeholder="Digite número do documento">

          </div>
      </div>
      <br />
        <div class="row">
          <div class="col">
              <label for="agency">Agência</label>
              <div class="input-group-prepend">
                  <input type="number" class="form-control col-md-5 unstyled" id="agency" formControlName="agency" name="agency">
                  <input type="number" class="form-control col-md-2 unstyled digit" id="agency-digit" formControlName="agency_digit" name="agency-digit" maxlength="1">
              </div>
          </div>
          <div class="col">
              <label for="account">Conta</label>
              
              <div class="input-group-prepend">
                  <input type="number" class="form-control col-md-5 unstyled" id="account" formControlName="account" name="account">
                  <input type="number" class="form-control col-md-2 unstyled digit" id="account-digit" formControlName="account_digit" name="account-digit" maxlength="1">
              </div>
          </div>
          <div class="col">
              <label for="automatic">Saque automático?</label>
              <select id="automatic" formControlName="automatic" name="automatic" class="form-control">
                  <option selected></option>
                  <option value="true">Sim</option>
                  <option value="false">Não</option>
              </select>
          </div>
      </div>
      <br />
      <div class="row justify-content-end div-button">
          <button type="submit" class="btn button-save" (click)="save()" [disabled]="!establishimentForm.dirty">Salvar</button>
      </div>
    </form>  
  </div>
</div>